main {
  width: 100%;
}
p {
  width: 100%;
  border: 0.1rem solid;
  text-align: center;
}
span {
  color: red;
}

select,
input,
p {
  width: 100%;
  padding: 0.5rem;
  outline: 0.1rem solid #ccc;
  border: none;
  border-radius: 0.4rem;
}

.fa-solid{
  cursor: pointer;
}
.fa-solid:hover{
  color: red;
}
/*
PRIMEIRA PARTE - FORMULÁRIO - INÍCIO
*/
.form-toDo {
  max-width: 144rem;
  margin: auto;
  height: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: .4rem;
}

.form-toDo .grupo {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
}
/*
FIM
*/

/*
PRIMEIRA PARTE - BOTÕES - INÍCIO
*/
.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.botoes button{
  width: 15rem;
  padding: .7rem;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: .4rem;
  outline: none;
  border: none;
}
.botoes button:nth-child(1){
  background-color: rgb(30, 112, 71);
}
.botoes button:nth-child(1):hover{
  opacity: .8;
}
/*
FIM
*/

/*
PRIMEIRA PARTE - TABELA - INÍCIO
*/
table {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  border: .1rem solid #ccc;
  border-collapse: collapse;
  }
th {
  color: #3f3c3c;
  background-color: rgba(219, 202, 202, 0.7);
  font-weight: bold;
  padding: .5rem;
  border: .1rem solid #ccc;
  /* width: 20rem; */
  }
td {
  padding: .5rem;
  border: .1rem solid #ccc;
  }

.tabela-manutencao{
  max-width: 144rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
FIM
*/
/* 
Icon
check: <i class="fa-solid fa-check"></i>
edit: <i class="fa-solid fa-pen"></i>
delete: <i class="fa-solid fa-trash-can"></i>
*/

